/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
  background-color: #bdc3c7;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 250px;
}

.profil {
  position: relative;
  margin: 50px;
  width: 250px;
}

.foto {
  width: 250px;
  display: block;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  left: 180px;
  margin-bottom: 0;
}

.obsah {
  background-color: #31363b;
  overflow: auto;
  color: #bdc3c7;
  padding: 20px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
}

h1 {
  margin-top: 5px;
  font-size: 23px;
  color: white;
  font-family: 'Montserrat';
}

ul {
  background-color: #31363b;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
}

a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Montserrat';
}

.portfolio {
  width: 100%;
  border-top: 1px solid #bdc3c7;
}

.facebook {
  width: 50%;
  float: left;
  border-top: 1px solid #bdc3c7;
}

.twitter {
  width: 50%;
  border-top: 1px solid #bdc3c7;
}

.portfolio a {
  padding: 10px 59px;
}

.portfolio a:hover {
  background-color: #e74c3c;
}

.facebook a {
  padding: 10px 22px;
}

.facebook a:hover {
  background-color: #3b5998
}

.twitter a {
  padding: 10px 30px;
}

.twitter a:hover {
  backgroun-color: #1da1f2;
}

a:hover {
  background: #3b5998;
}